
@charset "UTF-8";


.cbox {
	left: 17%;
	overflow: auto;
	background-color: #fcf2e4;
	height:700px;
	border: 1px solid #d0d0d0;
}
.btngr{
	margin-top:30px;
}
#imgbox2{
	height:300px;
	text-align: center;
}
#imgbox{
	width:250px;
	heigth:250px;
	border-radius: 50%;
	margin-left:38%;
	
}
.btnbox{
	margin:auto;
	width: 60%;
}
.btnbox button{
	margin:auto;
	width: 40%;
}

.box {
	text-align: center;
	height: 50px;
	margin:auto;
}
.visit{
	height: 50px;
	line-height: 50px;
	box-sizing: border-boxed;
	border: 1px solid white;
	border-radius: 5px;
	margin: auto;
	background-color: rgb(255, 178, 146);
}
.menu {
	height: 50px;
	line-height: 50px;
	box-sizing: border-boxed;
	border: 1px solid white;
	border-radius: 5px 0px 0px 5px;
	margin: auto;
	background-color: rgb(255, 178, 146);
}

.menu2 {
	background-color: #81BEF7;
}

.subject {
	line-height: 50px;
	height: 50px;
	box-sizing: border-boxed;
	border: 1px solid white;
	border-radius: 0px 5px 5px 0px;
	margin: auto;
	background-color: #fff4ea;
}

.subject2{
	background-color: #e6f2fd;
}

<!-- -->
.container{
	margin-top: 30px;
}

.ct{
	text-align: center;
}

.logo{
	color: #222;
}

.nav-item{
	width: 100%;
}

.nav-link{
	height: 100%;
	font-size: 0.8rem;
	text-align: center;
}

.nav-link:hover{
	background-color: #999;
}


table{
	width: 60%;
	margin: auto;
}




@media (max-width: 1200px) {
	
	#wrapper{
		width: 768px;
	}
	
	.logo{
		font-size: medium;
	}
	
	
	.nav-link{
		font-size: 0.8rem;
	}
	
	ul{
		width: 80%;
		margin-left: 100px;
	}
	
}


@media (max-width: 991px){
	
	
	.nav-link{
		width:100%;
		height: 40px;
		text-align: center;
	}
	
	
	.btnbox button{
		margin-top:10px;
		width: 90%;
	}
	
	
	.intxt{
		font-size: 0.8rem;
	}

}




@media (max-width: 768px){
	

	nav{
		width: 100%;
	}
	
	.logo{
		font-size: x-large;
		margin-top: 0;
	}
	
	.nav-item{
		margin: 20px 0 0 0;
		width: 100%;
	}


}






