@charset "UTF-8";
.box{
	margin-left:25%;
	background-color: #e8e7e3;
	height: 750px;
	border-radius: 10px;
}
h2{
	margin-top:20px;
	text-align: center;
}
.emaillogo{
	text-align: center;
}
#idchk-btn{
	margin-left:10px;
}
#emailchk-btn{
	margin-left:20px;
}
#signup-btn{
	margin-left:37%;
}
.invalid-feedback{
	text-align: center;
}
#off-btn{
	margin-left:20px;
}