@charset "UTF-8";

.contentBox {
	height: 500px;
	float: left;
	box-sizing: border-boxed;
	border: 1px solid black;
}

.contentType {
	line-height:50px;
	height: 50px;
	box-sizing: border-boxed;
	border: 1px solid black;
}
#intro{
	height: 250px;
}
@media screen and (min-width: 769px) {
	.content {
		padding: 30px;
	}
	.contentBox {
		margin-top:150px;
	}
}