@charset "UTF-8";
.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.adLogin{
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    height:300px;

}