@charset "UTF-8";
.wrap{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url("../adminImg/main3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.adLogin{
    text-align: center;
    height:400px;
	margin-left:10%;
}
.box{
	margin-left:7%;
	margin:10px;
}
h1{
	margin-top:5%;
}