@charset "UTF-8";
.box{
	margin-left:18%;
}
#menulist{
	float:left;
	height:600px;
	box-sizing: border-boxed;
	border: 1px solid #c0c0c0;
	overflow:auto;
	margin:auto;
	text-align:center;
	padding:0;
	margin-top:3%;
}
h1{
	text-align: center;
}
#createbtn{
	margin-left:43%;
	margin-top:15px;
}
.menubar{
	padding:0;
	height:100px;
	line-height:100px;
	font-size:2rem;
	background:rgb(255, 178, 146);
}
.menuvalue{
	padding:0;
	height:100px;
	line-height:100px;
	font-size:1.5rem;
}
.menuvalue:hover{
	background:#e1dedb;
}