@charset "UTF-8";
#menulist{
	float:left;
	height:700px;
	box-sizing: border-boxed;
	border: 1px solid black;
	overflow:auto;
	margin:auto;
	text-align:center;
	padding:0;
}
.menubar{
	padding:0;
	height:100px;
	line-height:100px;
	box-sizing: border-boxed;
	border: 1px solid black;
}
.menuvalue{
	padding:0;
	height:100px;
	line-height:100px;
	box-sizing: border-boxed;
	border: 1px solid black;
}
.menuvalue:hover{
	background:rgb(255, 178, 146);
}