@charset "UTF-8";

.contain{
    margin: auto;
}
.open{
    margin-left: 80%;
}
#content{
    height: 200px;
    overflow: auto;
}
h2{margin-top: 5%;
    font-weight: bold;
}
.head{
    margin: auto;
}
.btn{
	margin:5px;
}