@charset "UTF-8";

t {
	color: rgb(52, 152, 219);
}

.searchbox {
	margin: auto;
}

.searchbox div {
	padding: 10px;
}

.menuname {
	margin: auto;
	padding: 0;
}

.menu {
	text-align: center;
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 1px solid white;
}

.text {
	box-sizing: border-box;
	text-align: center;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 50px;
	line-height: 50px;
}

.menuborder {
	border-radius: 5px 5px 0px 0px;
	padding: 0;
}

h2 {
	font-weight: bold;
}

.head {
	margin: auto;
}

.textlist {
	border-bottom: 1px solid rgb(158, 156, 156);
}

.textlist:hover {
	background: rgb(190, 189, 189);
	opacity: 0.9;
}

.box_ul {
	text-align: center;
	margin: auto;
}

.box_li {
	list-style-type: none
}

.paging {
	display: inline-block;
}

.paging a {
	color: black;
	float: left;
	padding: 4px 8px;
	text-decoration: none;
	transition: background-color .3s;
	margin: 0px;
}

.paging a.active {
	border-radius: 30%;
	background-color: rgb(52, 152, 219);
	color: white;
	border: 1px solid rgb(52, 152, 219);
}

.paging a:hover:not (.active ) {
	background-color: #ddd;
}

#write {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 9px;
	left: 83%;
}
