@charset "UTF-8";

.cbox {
	left: 17%;
	overflow: auto;
	background-color: #fcf2e4;
	height:700px;
	border: 1px solid #d0d0d0;
}
#back{
	margin-top:15px;
	margin-left:47%;
}
.box {
	text-align: center;
	height: 50px;
	margin:auto;
}
.visit{
	height: 50px;
	line-height: 50px;
	box-sizing: border-boxed;
	border: 1px solid white;
	border-radius: 5px;
	margin: auto;
	background-color: rgb(255, 178, 146);
}
.menu {
	height: 50px;
	line-height: 50px;
	box-sizing: border-boxed;
	border: 1px solid white;
	border-radius: 5px 0px 0px 5px;
	margin: auto;
	background-color: rgb(255, 178, 146);
}

.menu2 {
	background-color: #81BEF7;
}

.subject {
	line-height: 50px;
	height: 50px;
	box-sizing: border-boxed;
	border: 1px solid white;
	border-radius: 0px 5px 5px 0px;
	margin: auto;
	background-color: #fff;
}