@charset "UTF-8";

#myCalender {
	float: left;
	height: 800px;
}
#resbox{
	float: left;
	text-align:center;
}
#resList {
	box-sizing: border-boxed;
	border: 3px solid #f0f0f0;
	height: 750px;
	overflow:auto;
	padding:0;
	font-size:20px;
}
#addressword{
	font-size:0.7rem;
}
.cal_top{
    text-align: center;
    font-size: 30px;
}
.cal{
    text-align: center; 
}
table.calendar{
 
    display: inline-table;
    text-align: center;
}
table.calendar td{
    vertical-align: top;
   
    width: 100px;
}

.menu{
	line-height:50px;
	padding:0;
	text-align:center;
	margin:auto;
	height:50px;
	background:#1a7ef9;
	color:#fff;
}
.datelist{
	font-size:20px;
}
.resbox2{
	line-height:50px;
	margin:auto;
	padding:0;
	text-align:center;
	background:#fff;
	height:50px;
	color:#000;
}
.resbox2:hover{
	background:#dddde8;
}

td:hover{
	background-color:#c1c1d5;
}
.cal-day{
	box-sizing: border-boxed;
	border: 1px dotted white;
	background-color:rgb(255, 178, 146);
}
.cal-schedule{
	box-sizing: border-boxed;
	 border: 1px dotted #cacaca;
	 height:75px;
}
tr{
		height: 100px;
}
.id, .time, .address{
	 padding:0;
	 text-align:center;
}