@charset "UTF-8";

#myCalender {
	float: left;
	box-sizing: border-boxed;
	border: 1px solid black;
	height: 700px;
}

#resList {
	float: left;
	box-sizing: border-boxed;
	border: 1px solid black;
	height: 700px;
	overflow:auto;
}

.cal_top{
    text-align: center;
    font-size: 30px;
}
.cal{
    text-align: center; 
}
table.calendar{
 
    display: inline-table;
    text-align: center;
}
table.calendar td{
    vertical-align: top;
   
    width: 100px;
}

.resbox{
	padding:0;
	text-align:center;
}

.resbox2:hover{
	background:rgb(255, 178, 146);
}

td:hover{
	background-color:#c1c1d5;
}
.cal-day{
	box-sizing: border-boxed;
	border: 1px dotted white;
	background-color:#749dfe;
}
.cal-schedule{
	box-sizing: border-boxed;
	 border: 1px dotted black;
	 height:75px;
}
tr{
		height: 100px;
}
.id, .time, .address{
	box-sizing: border-boxed;
	 border: 1px solid black;
	 padding:0;
	 text-align:center;
}