@charset "UTF-8";
.content div{
	text-align:center;
	font-size:1rem;
}
.searchbox{
	margin:auto;
	margin-left:50%;
}
.searchbox div{
	margin-top:10px;
	float:right;
}
#box{
	height:725px;
	overflow:auto;
}
.menu{
	margin: auto;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: rgb(255, 178, 146);
}
.subject{
	margin: auto;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.subject:hover{
	background-color: #e1dedb;
}