@charset "UTF-8";

.contentBox {
	height: 500px;
	float: left;
	margin-top:5%;
	margin-left:25%;
}
h1{
	text-align: center;
}
.contentType {
	line-height:80px;
	height: 80px;
}

.btnbox{
	margin-left:32%;
}

.btnbox button{
	margin:10px;
	margin-top:3%;
}